<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Solar Loan Suite">
    <listeners>
        <listener class-name="com.solar.listeners.TestListener"/>
    </listeners>
    <test name="E2E Tests">
        <classes>
            <class name="com.solar.tests.LoginUITests" />
        </classes>
    </test>
</suite>
